<div class=" text-center margin-30px-top sm-margin-20px-top wow fadeInUp">
    <div class="pagination text-small text-uppercase text-extra-dark-gray">
        <ul>

        {% if posts.has_prev %}

            <li>
                <a href="{{ url_for('blog.blog_page', page=posts.prev_num) }}">
                    <i class="fas fa-long-arrow-alt-left margin-5px-right xs-display-none"></i>
                    Previous
                </a>
            </li>
            <li><a href="?page=1">1</a></li>

            {% if posts.page == 3 %}
                <li><a href="?page={{ posts.page|subtract(1) }}">{{ posts.page|subtract(1) }}</a></li>
            {% endif %}

            {% if posts.page > 3 %}
                {% if posts.page != 4%}
                    <li class="active"><a>...</a></li>
                {% endif %}

                <li><a href="?page={{ posts.page|subtract(2) }}">{{ posts.page|subtract(2) }}</a></li>
                <li><a href="?page={{ posts.page|subtract(1) }}">{{ posts.page|subtract(1) }}</a></li>

            {% endif %}

        {% endif %}

        <li class="active"><a href="?page={{ posts.page}}">{{ posts.page }}</a></li>

        {% if posts.has_next %}
            <li>
                <a href="{{ url_for('blog.blog_page', page=posts.pages) }}">{{ posts.pages }}
                </a>
            </li>

            <li>
                <a href="{{ url_for('blog.blog_page', page=posts.next_num) }}">Next
                    <i class="fas fa-long-arrow-alt-right margin-5px-left xs-display-none"></i>
                </a>
            </li>
        {% endif %}
        </ul>

    </div>
</div>