{% extends "base.html" %}

{% block title %}
My blog - log in
{% endblock %}

{% block content %}
    <section class="wow fadeIn bg-light-gray">
        <div class="container">

            <form action="" method="post">
                {{ form.csrf_token }}
                {{ form.hidden_tag()}}
                <div class="row">
                    <div class="col-md-6 wow fadeIn center-col">
                        <div class="padding-fifteen-all bg-white border-radius-6 md-padding-seven-all">
                            {% with messages = get_flashed_messages() %}
                            {% if messages %}
                                <div class="alert alert-danger alert-dismissable">
                                    {{ messages[0] }}
                                </div>
                            {% endif %}
                            {% endwith %}


                            <div class="text-extra-dark-gray alt-font text-large font-weight-600 margin-30px-bottom">
                                Forgot password?
                            </div>
                            <div>
                                Please enter your email and we will send a password reset link to your email.
                                <div class="input-bg">
                                    {{ form.email }}
                                </div>

                                <button type="submit" class="btn btn-small border-radius-4 btn-black">Send</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </section>

{% endblock %}