{% autoescape off %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{ email }}</title>
    </head>

    <body>

        <p>We have received a request to reset your password</p>
        <p>To reset your password, please click on this link: <br />
            <a href="http://127.0.0.1:5000/password_reset/{{ user.username }}/{{ user.change_configuration.password_reset_code }}">
                http://127.0.0.1:5000/password_reset/{{ user.username }}/{{ user.change_configuration.password_reset_code }}
            </a>
        </p>

    </body>
</html>

{% endautoescape %}