{% extends "base.html" %}

{% block title %}
My blog - welcome
{% endblock %}

{% block content %}

{% for block in blocks_sorted_dict.keys() %}
    {% if block == 'blockquote' %}
            {% include 'universal_page/blocks/blockquote.html' %}
    {% endif %}

    {% if block == 'smallgreyheader' %}
        {% include 'universal_page/blocks/small_grey_header.html' %}
    {% endif %}

    {% if block == 'blockquotewithheader' %}
        {% include 'universal_page/blocks/blockquote_with_header.html' %}
    {% endif %}

    {% if block == 'faq' %}
        {% include 'universal_page/blocks/faq.html' %}
    {% endif %}

    {% if block == 'greyheader' %}
        {% include 'universal_page/blocks/grey_header.html' %}
    {% endif %}

    {% if block == 'threecolumnswithheaders' %}
        {% include 'universal_page/blocks/three_columns_with_headers.html' %}
    {% endif %}

    {% if block == 'whiteheaderwithbutton' %}
        {% include 'universal_page/blocks/white_header_with_button.html' %}
    {% endif %}

{% endfor %}

{% endblock %}
