{% extends "base.html" %}

{% block title %}
My blog - welcome
{% endblock %}

{% block content %}

    {% if page.blockquote %}
        {% include 'universal_page/blocks/blockquote.html' %}
    {% endif %}

    {% if page.blockquotewithheader %}
        {% include 'universal_page/blocks/blockquote_with_header.html' %}
    {% endif %}

    {% if page.faq %}
        {% include 'universal_page/blocks/faq.html' %}
    {% endif %}

    {% if page.greyheader %}
        {% include 'universal_page/blocks/grey_header.html' %}
    {% endif %}

    {% if page.smallgreyheader %}
        {% include 'universal_page/blocks/small_grey_header.html' %}
    {% endif %}

    {% if page.threecolumnswithheaders %}
        {% include 'universal_page/blocks/three_columns_with_headers.html' %}
    {% endif %}

    {% if page.white_headerwithbutton %}
        {% include 'universal_page/blocks/white_header_with_button.html' %}
    {% endif %}


{% endblock %}
