{% extends "base.html" %}

{% block title %}
    Sample company site - user posts
{% endblock %}

{% block content %}

    <section class="wow fadeIn bg-light-gray padding-50px-tb page-title-small top-space">
        <div class="container">
            <div class="row equalize xs-equalize-auto">
                <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12 center-col margin-eight-bottom sm-margin-40px-bottom xs-margin-30px-bottom text-center last-paragraph-no-margin">
                    <h5 class="alt-font font-weight-700 text-extra-dark-gray text-uppercase">{{user.firstname}} {{ user.lastname }}</h5>
                    <p>page description </p>
                </div>
            </div>
        </div>
    </section>


    <section class="wow fadeIn hover-option4 blog-post-style3">
        <div class="container">
            <div class="row equalize xs-equalize-auto">

            {% for post in user_posts %}
                <div class="grid-item col-md-4 col-sm-6 col-xs-12 margin-30px-bottom xs-text-center wow fadeInUp">
                    <div class="blog-post bg-light-gray inner-match-height">
                        <div class="post-details padding-40px-all sm-padding-20px-all">
                            <a href="{{ url_for('blog.post', year=post.timestamp.year, month='{:02d}'.format(post.timestamp.month),
                                 slug=post.slugified_title, id=post.id) }}" class="alt-font post-title text-medium text-extra-dark-gray width-100 display-block md-width-100 margin-15px-bottom">
                                {{post.title}}
                            </a>
                            <p>
                                {% if post.intro %}
                                    {{ post.intro  | truncate(100) }}
                                {% else %}
                                    {{ post.body | striptags | truncate(100) }}
                                {% endif %}
                            </p>
                            <div class="separator-line-horrizontal-full bg-medium-gray margin-20px-tb"></div>
                            <div class="author">
                                <span class="text-medium-gray text-uppercase text-extra-small display-inline-block sm-display-block sm-margin-10px-top">
                                    by <a href="{{ url_for('users.user_posts', username=post.user.username) }}" class="text-medium-gray">
                                    {{post.user.username}}</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                                    {{ post.timestamp.strftime('%d.%m.%Y') }}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </section>


{% endblock %}