{% extends "base.html" %}

{% block title %}
My blog - welcome
{% endblock %}

{% block content %}

    <section class="wow fadeIn parallax" data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 extra-small-screen display-table page-title-large">
                    <div class="display-table-cell vertical-align-middle text-center">
                        <h1 class="text-extra-dark-gray alt-font font-weight-600 letter-spacing-minus-1 margin-10px-bottom">
                            {{ home.title }}
                        </h1>
                        <span class="opacity6 alt-font">{{ home.title_description }}</span>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="wow fadeIn bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-11 col-xs-12 center-col text-center wow fadeInUp margin-eight-bottom">
                    <div class="alt-font text-medium-gray margin-5px-bottom text-uppercase text-small">{{ home.about_intro }}</div>
                    <h6 class="font-weight-300 text-extra-dark-gray no-margin-bottom">{{ home.about_description }}</h6>
                </div>
            </div>
            <div class="row equalize xs-equalize-auto">
                <div class="col-md-4 col-sm-4 col-xs-12 sm-margin-four-bottom xs-margin-30px-bottom wow fadeInUp">
                    <div class="bg-white text-center">
                        <div class="padding-45px-all sm-padding-15px-all inner-match-height">
                            <span class="text-extra-dark-gray font-weight-600 display-block alt-font margin-10px-bottom">{{ home.first_card_title }}</span>
                            <p>{{ home.first_card_description }}</p>
                            <a href="{{ url_for('about_us.about_us') }}" class="btn btn-small btn-rounded btn-transparent-dark-gray">About Us <i class="ti-arrow-right"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4 col-xs-12 sm-margin-four-bottom xs-margin-30px-bottom wow fadeInUp" data-wow-delay="0.2s">
                    <div class="bg-white text-center">
                        <div class="padding-45px-all sm-padding-15px-all inner-match-height">
                            <span class="text-extra-dark-gray font-weight-600 display-block alt-font margin-10px-bottom">{{ home.second_card_title }}</span>
                            <p>{{ home.second_card_description }}</p>
                            <a href="#" class="btn btn-small btn-rounded btn-transparent-dark-gray">Contact Us <i class="ti-arrow-right"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-4 col-xs-12 sm-margin-four-bottom xs-no-margin-bottom wow fadeInUp" data-wow-delay="0.4s">
                    <div class="bg-white text-center">
                        <div class="padding-45px-all sm-padding-15px-all inner-match-height">
                            <span class="text-extra-dark-gray font-weight-600 display-block alt-font margin-10px-bottom">{{ home.third_card_title }}</span>
                            <p>{{ home.third_card_description }}</p>
                            <a href="{{ url_for('blog.blog_page') }}" class="btn btn-small btn-rounded btn-transparent-dark-gray">Blog <i class="ti-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="wow fadeIn hover-option4 blog-post-style3">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-sm-6 col-xs-12 center-col margin-eight-bottom sm-margin-40px-bottom xs-margin-30px-bottom text-center">
                    <div class="alt-font text-medium-gray margin-5px-bottom text-uppercase text-small">{{ home.blog_intro }}</div>
                    <h5 class="alt-font text-extra-dark-gray font-weight-600">{{ home.blog_title }}</h5>
                </div>
            </div>
            <div class="row equalize xs-equalize-auto">
                <div class="grid-item col-md-4 col-sm-6 col-xs-12 wow fadeInUp sm-padding-30px-bottom xs-text-center">
                    <div class="blog-post bg-light-gray inner-match-height">
                        <div class="post-details padding-40px-all sm-padding-20px-all">
                            <a href="#" class="alt-font post-title text-medium text-extra-dark-gray width-100 display-block md-width-100 margin-15px-bottom">I like the body. I like to design everything to do with the body.</a>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum standard dummy...</p>
                            <div class="separator-line-horrizontal-full bg-medium-gray margin-20px-tb sm-margin-15px-tb"></div>
                            <div class="author">
                                <span class="text-medium-gray text-uppercase text-extra-small display-inline-block sm-display-block sm-margin-10px-top">by <a href="#" class="text-medium-gray">Jay Benjamin</a>&nbsp;&nbsp;|&nbsp;&nbsp;20 April 2017</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="grid-item col-md-4 col-sm-6 col-xs-12 wow fadeInUp sm-padding-30px-bottom xs-text-center" data-wow-delay="0.2s">
                    <div class="blog-post bg-light-gray inner-match-height">
                        <div class="post-details padding-40px-all sm-padding-20px-all">
                            <a href="#" class="alt-font post-title text-medium text-extra-dark-gray width-100 display-block md-width-100 margin-15px-bottom">Styles come and go. Design is a language, not a style.</a>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum standard dummy...</p>
                            <div class="separator-line-horrizontal-full bg-medium-gray margin-20px-tb sm-margin-15px-tb"></div>
                            <div class="author">
                                <span class="text-medium-gray text-uppercase text-extra-small display-inline-block sm-display-block sm-margin-10px-top">by <a href="#" class="text-medium-gray">Herman Miller</a>&nbsp;&nbsp;|&nbsp;&nbsp;20 April 2017</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="grid-item col-md-4 col-sm-6 col-xs-12 wow fadeInUp xs-text-center" data-wow-delay="0.4s">
                    <div class="blog-post bg-light-gray inner-match-height">
                        <div class="post-details padding-40px-all sm-padding-20px-all">
                            <a href="#" class="alt-font post-title text-medium text-extra-dark-gray width-100 display-block md-width-100 margin-15px-bottom">Recognizing the need is the primary condition for design.</a>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum standard dummy....</p>
                            <div class="separator-line-horrizontal-full bg-medium-gray margin-20px-tb sm-margin-15px-tb"></div>
                            <div class="author">
                                <span class="text-medium-gray text-uppercase text-extra-small display-inline-block sm-display-block sm-margin-10px-top">by <a href="#" class="text-medium-gray">Hugh Macleod</a>&nbsp;&nbsp;|&nbsp;&nbsp;15 March 2017</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

{% endblock %}
